debian/\.debhelper/
debian/wb-homa-w1/
debian/wb-mqtt-w1/
*.log
*.debhelper
debian/*.substvars
debhelper-build-stamp
debian/files
.clang-format
build

### Visual Studio Code ###
.devcontainer
.vscode

### direnv ###
.direnv
.envrc
