Source: wb-mqtt-w1
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 10), pkg-config, libwbmqtt1-dev (>= 1.0.10), libwbmqtt1-test-utils (>= 1.0.10)

Package: wb-mqtt-w1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libwbmqtt1 (>= 1.0.10)
Breaks: wb-mqtt-confed (<< 1.0.2), wb-homa-w1 (<< 2.0.1)
Replaces: wb-homa-w1 (<< 2.0.1)
Conflicts: wb-homa-w1 (<< 2.0.1)
Description: Wiren Board Smart Home MQTT generic 1-Wire (w1) driver compatible with HomA conventions

Package: wb-homa-w1
Depends: wb-mqtt-w1 (= ${source:Version}), ${misc:Depends}
Architecture: all
Priority: extra
Section: oldlibs
Description: transitional dummy package
 This is a transitional dummy package. It can safely be removed.