Source: wb-homa-w1
Maintainer: Evgeny Boger <boger@contactless.ru>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 10), pkg-config, g++, libwbmqtt1-dev (>= 0.2), libwbmqtt1-test-utils (>= 0.2)

Package: wb-homa-w1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libwbmqtt1 (>= 0.2)
Description: Wiren Board Smart Home MQTT generic 1-Wire (w1) driver compatible with HomA conventions
